:root {
  --icon-size: 1em;
}

body {
  font-family: 'Futura', 'Courier';
  margin: 0px;
}

/* #wrapper {
  display: inline-block;
  flex-direction: column;
  background-color: #c6dec6;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  margin: none;
} */

.top {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  height: 100vh;
  position: relative;
  min-height: 500px;
  max-height: 1080px;
  background: url(img.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin: none;
}

#name {
  text-align: center;
  justify-self: center;
  align-self: center;
  position: absolute;
  transform: translateY(40vh);
  color: whitesmoke;
  font-size: 1.75em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links img {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 0.3s ease-out;
}

.links img:hover {
  transform: rotate(360deg);
}


#bottom {
  margin: 5px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circular {
  position: relative;
  width: 10em;
  height: 10em;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
}

.circular img {
  width: 100%;
  height: auto;
}

/* .left {
  background-color: #d0d0cd;
  display: flex;
  flex: 0.2;
  padding-top: 2%;
  flex-direction: column-reverse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 25px;
  max-height: 40vh;
  align-items: center;
} */

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
}